ti<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Executive Summary</h2>
<div class="summary">
    <p>2017 Ph.D. candidate with extensive experience in HPLC, UHPLC, and SFC method development, optimization, and high-throughput analysis for achiral and chiral analysis. Experienced in small and large molecule drugs. Capable of programming instruments for automation and PAT applications. Proven ability to solve complex analytical problems using a myriad of techniques, instruments, and programs. </p>
</div><!--//summary-->
</section><!--//section-->
